package $packageName;

#foreach($nameInfo in $nameInfos)
import ${nameInfo.packageName}.${nameInfo.className}QueryBuilder;
#end

public class QueryBuilderFactory
{

#foreach($nameInfo in $nameInfos)
	public static ${nameInfo.className}QueryBuilder ${nameInfo.methodName}QueryBuilder()
	{
		return new ${nameInfo.className}QueryBuilder();
	}

#end
}