package $packageName;

import org.effrafax.querybuilder.core.QueryBuilder;
#foreach($criteriumPackageName in $criteriumPackageNames)
import org.effrafax.querybuilder.core.criteria.${criteriumPackageName};
#end
import org.effrafax.querybuilder.test.${className};

public class ${className}QueryBuilder extends QueryBuilder<${className}>
{

	public ${className}QueryBuilder()
	{
		super(${className}.class);
	}

#foreach($fieldInfo in $fieldInfos)
	public PropertyCriterium<${className}, $fieldInfo.type> ${fieldInfo.name}()
	{
		PropertyCriterium<${className}, $fieldInfo.type> propertyCriterium = new ${fieldInfo.type}PropertyCriterium<${className}>("$fieldInfo.name");
		registerPropertyCriterium(propertyCriterium);
		return propertyCriterium;
	}

#end
}