package org.effrafax.querybuilder.generated.builder;

import org.effrafax.querybuilder.core.QueryBuilder;
import org.effrafax.querybuilder.core.criteria.LongPropertyCriterium;
import org.effrafax.querybuilder.core.criteria.PropertyCriterium;
import org.effrafax.querybuilder.core.criteria.StringPropertyCriterium;
import org.effrafax.querybuilder.test.${className};

public class ${className}QueryBuilder extends QueryBuilder<${className}>
{

	public ${className}QueryBuilder()
	{
		super(${className}.class);
	}

	public PropertyCriterium<${className}, String> name()
	{
		PropertyCriterium<${className}, String> propertyCriterium = new StringPropertyCriterium<${className}>("name");
		registerPropertyCriterium(propertyCriterium);
		return propertyCriterium;
	}

	public PropertyCriterium<${className}, Long> id()
	{
		PropertyCriterium<${className}, Long> propertyCriterium = new LongPropertyCriterium<${className}>("id");
		registerPropertyCriterium(propertyCriterium);
		return propertyCriterium;
	}

}